body { margin: 0; padding: 0; }
h1 { color: #ff0000; }
p { line-height: 140%; }
#header { background-color: #c0c0c0; }
.copy { color: #808080; }


#header  {
    border: 10px;
}


#header .h_txt1 {
	background: #029992;
	color:#ffffff;
	font-size:12px;
	padding: 5px 0px 5px 10px;

}

#header .h_txt2 
	font-size:12px;
	padding: 0x 0px 0px 20px;
}


ul.menu1 {
  width: 1400px;
  border:1px solid red;
  padding:0;
  font-size:0px;
}

ul.menu1 li {
  width:150px;
  border:1px solid black;
  display: inline-block;
  text-align: center;
  font-size:14px;
}

ul.menu1 li:first-child {
  height:60px;
}

ul.menu1 li a {
  display: block;
}

#main  {
background: 000;
    border: 10px;
}

