body { margin: 0; padding: 0; }
h1 { color: #ff0000; }
p { line-height: 140%; }
#header { background-color: #c0c0c0; }
.copy { color: #808080; }


#header  {
	background: #ff3300;
    border: 10px;
}


#header .h_txt1 {
	background: #336699;
    border: 1px;
}

#header .h_txt2 {
	background: #000;
  border: 1px;
}


#main  {
background: 000;
    border: 10px;
}

