#header  {
	background: 000;
    border: 10px;
}


#header .h_txt1 {
	background: 336699;
    border: 1px;
}

#header .h_txt2 {
	background: 000;
  border: 1px;
}


#main  {
background: 000;
    border: 10px;
}

